<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab-home">
      <ion-icon name="home"></ion-icon>
      <ion-label>首页</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-discovery">
      <ion-icon name="navigate"></ion-icon>
      <ion-label>发现</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-chat">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>聊天</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-notification">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>通知</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-more">
      <ion-icon name="menu"></ion-icon>
      <ion-label>更多</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
